<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="row">
      <div class="col-xs-2">
        <%= link_to root_path do %>
          <div class="logoReforest">

          	<div class="stripe1"></div>
          	<div class="stripe2"></div>
          	<div class="stripe3"></div>
          	<div class="stripe4"></div>
            <div class="stripe5"></div>

          </div>
        <% end %>
      </div>

      <div class="col-sm-4 hidden-xs slogan">
        Splurting out unsolicited truths regarding your age since 2016
      </div>
      <div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-5 links">

        <!-- Button trigger modal -->
        <%= link_to 'Contribute', '#', data: {toggle: 'modal', target: '#myModal'} %>
        &nbsp; &nbsp;
        <%= link_to 'About', about_path %>
      </div>
    </div>
  </header>


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Contribute Your Quote</h4>
        </div>
        <div class="modal-body">
          <%= simple_form_for Quote.new do |f| %>
            <div class="modal-body">
              <%= f.input :saying, label: "You know you're getting old when...", placeholder: "You're excited for Friday night because it means you can take lots of naps." %>
              <br>
              <%= f.input :author, label: "Who is the author of this quote?", placeholder: "Steven Williams" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit 'Add Quote', class: 'btn btn-danger' %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <hr>

<div class="container">
  <% if flash[:error].present? -%>
    <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
      <%= flash[:error].html_safe %>
    </div>
  <% end %>
  <%= yield %>
</div>

<footer class="footer">
  <div class="container">
    <div class="col-xs-12 col-sm-6">
      <%= link_to "I don't feel old enough, one more!", root_path, class: 'next-quote' %>
    </div>
    <div class="col-xs-12 col-sm-6 footer-blurb">
      Proudly hacked by Lulu <br>
      Want to build your own Splurty Web App? <a href="http://thefirehoseproject.com">Learn to code here</a>
    </div>
  </div>
</footer>

</body>
</html>
