<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="row">
      <div class="col-xs-3">
        <%= link_to root_path do %>
          <div class="logoReforest">

          	<div class="stripe1"></div>
          	<div class="stripe2"></div>
          	<div class="stripe3"></div>
          	<div class="stripe4"></div>
            <div class="stripe5"></div>

          </div>
        <% end %>
      </div>

      <div class="col-xs-4 slogan">
        Splurting out unsolicited truths regarding your age since 2016
      </div>
      <div class="col-xs-5 links">
        <%= link_to 'Contribute', new_quote_path %>
        <%= link_to 'About', '#' %>
      </div>
    </div>
  </header>
  <hr>

<div class="container">
  <% if flash[:error].present? -%>
    <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
      <%= flash[:error].html_safe %>
    </div>
  <% end %>
  <%= yield %>
</div>

<footer class="footer">
  <div class="container">
    <div class="col-xs-6">
      <%= link_to "This isn't enough, I need more", root_path, class: 'next-quote' %>
    </div>
    <div class="col-xs-6 footer-blurb">
      Proudly hacked by Lulu <br>
      Want to build your own Splurty Web App? <a href="http://thefirehoseproject.com">Learn to code here</a>
    </div>
  </div>
</footer>

</body>
</html>
